header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.underline {
  display: inline-block;
  color: #ff7518;
  text-decoration: none;
}

.underline::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #ff7518;
  transition: width 0.3s;
}

.underline:hover::after {
  width: 100%;
  transition: width 0.3s;
}
